
@font-face { src: url('../fonts/NotoSerifDevanagari-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'nagari'; }

.nagarifont{
    font-family: nagari;
}


.webfx-tree-item {
	line-height: 35px;
  font-family: nagari;
  font-size: 16px;
}
  
.webfx-tree-item button,
.webfx-tree-item a {
	font-family: nagari;
	font-size: 16px;
}
	

