
@font-face { src: url('../fonts/NotoSerifGujarati-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'gujarati'; }

.gujaratifont{
    font-family: gujarati;
}


.webfx-tree-item {
  font-family: gujarati;
  font-size: 16px;
}
  
  
.webfx-tree-item a {
	font-family: gujarati;
	font-size: 16px;
}
	

