
@font-face { src: url('../fonts/NotoSerifLao-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'lao'; }

.laofont{
    font-family: lao;
}


.webfx-tree-item {
	line-height: 35px;
  font-family: lao;
  font-size: 16px;
}
  
  
.webfx-tree-item a {
	font-family: lao;
	font-size: 14px;
}
	

