
@font-face { src: url('../fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'urdu'; }

.urdufont{
    font-family: urdu;
}


.webfx-tree-item {
	line-height: 35px;
  font-family: urdu;
  font-size: 12px;
}
  
.webfx-tree-item button,
.webfx-tree-item a {
	font-family: urdu;
	font-size: 12px;
}
	

