
@font-face { src: url('../fonts/NotoSerifHebrew-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'hebrew'; }

.hebrewfont{
    font-family: hebrew;
}


.webfx-tree-item {
	line-height: 35px;
  font-family: hebrew;
  font-size: 15px;
}
  
.webfx-tree-item button,
.webfx-tree-item a {
	font-family: hebrew;
	font-size: 15px;
}
	

