
@font-face { src: url('../fonts/NotoNaskhArabic-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'arabic'; }

.arabicfont{
    font-family: arabic;
}


.webfx-tree-item {
  line-height: 35px;
  font-family: arabic;
  font-size: 16px;
}
  
.webfx-tree-item button,
.webfx-tree-item a {
	font-family: arabic;
	font-size: 16px;
}
	

