
@font-face { src: url('NotoNastaliqUrdu-Regular.ttf') format('truetype'); font-weight: normal; font-family: 'urdu'; }

.urdufont{
    font-family: urdu;
}


.webfx-tree-item {
  font-family: urdu;
  font-size: 12px;
}
  
  
.webfx-tree-item a {
	font-family: urdu;
	font-size: 12px;
}
	

